# Git
.git
.gitignore
.gitlab-ci.yml
.gitkeep

# Docker
Dockerfile
.dockerignore

# Python
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
**/*.ipynb
dist/

# Testing
.mypy_cache/
.pytest_cache/
.coverage

# IDE
.vscode/

# Project
notebooks/
.env
