# Git
.git/
.gitignore
.gitlab-ci.yml
.gitkeep

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
**/*.ipynb
**/*.egg-info/
dist/
build/

# Testing
.mypy_cache/
.pytest_cache/
.tox/
.coverage

# IDE
.vscode/

# Project
docker/
notebooks/
.env
.env.sample
README.md
