# Git
.git
.gitignore
.gitlab-ci.yml
.gitkeep

# Docker
Dockerfile
.dockerignore

# Python
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
**/*.ipynb

# IDE
.vscode/

# Project
bin/
notebooks/
README.md
.env
.env.sample
